In [68]:
import geopandas as gpd
df = gpd.read_file(r"C:\CCAFSToolkit\CRAFT_Schema\Level1\Shape\Northern_G_L1_new.shp")
#df.columns = ['Level1Name','Id','ObjectID', 'geometry']
df.iloc[0,0] = 'Northern Ghana'
df.iloc[0,1] = '0'
df.iloc[0,2] = '1'
df.to_file("C:/CCAFSToolkit/CRAFT_Schema/Level1/Shape/Northern_G_L1_new.shp")

In [90]:
dt = gpd.read_file(r"C:/CCAFSToolkit/CRAFT_Schema/Level1/Shape/Northern_G_L1_new.shp")
dt_wg = gpd.read_file(r"C:\Users\sndungu\Downloads\Worldgrid\Worldgrid\WorldGrid.shp")
gpd.clip(dt_wg,dt)

,Id,CELLID,LAT,LONG,geometry
39,0,4093166,11.041667,-2.875000,"POLYGON ((-2.83333 11.00000, -2.83438 11.00000..."
40,0,4093167,11.041667,-2.791667,"POLYGON ((-2.83333 11.00409, -2.83069 11.00409..."
41,0,4093168,11.041667,-2.708333,"POLYGON ((-2.75000 11.01930, -2.73962 11.01947..."
42,0,4093169,11.041667,-2.625000,"POLYGON ((-2.66667 11.01929, -2.65308 11.01929..."
43,0,4093170,11.041667,-2.541667,"POLYGON ((-2.58333 11.02171, -2.58289 11.02173..."
...,...,...,...,...,...
3380,0,4240079,8.208333,-0.125000,"POLYGON ((-0.16667 8.23782, -0.16663 8.23749, ..."
3382,0,4240081,8.208333,0.041667,"POLYGON ((0.08333 8.22484, 0.07953 8.22412, 0...."
3383,0,4240082,8.208333,0.125000,"POLYGON ((0.08333 8.22960, 0.08368 8.22992, 0...."
3384,0,4240083,8.208333,0.208333,"POLYGON ((0.16667 8.25000, 0.19006 8.25000, 0...."
3394,0,4244396,8.125000,-0.375000,"POLYGON ((-0.41667 8.16667, -0.35399 8.16667, ..."

In [78]:
df1 = gpd.read_file(r"C:\Users\sndungu\Downloads\gha_admbnda_gss_20210308_shp\gha_admbnda_gss_20210308_SHP\gha_admbnda_adm0_gss_20210308.shp")
df1 = df1[['ADM0_EN','ADM0_PCODE','ADM0_REF','geometry']]
df1.columns = ['Level1Name', 'Id', 'ObjectID', 'geometry']
df1['Level1Name'] = df2['Level1Name']
df1['Id'] = df2['Id']
df1['ObjectID'] = df2['ObjectID']
df1['geometry'] = df2['geometry']
df1.to_file("C:/CCAFSToolkit/CRAFT_Schema/Level1/Shape/Northern_G_L1_new.shp")

In [77]:
df1

,Level1Name,Id,ObjectID,geometry
0,Northern Ghana,0,1,"POLYGON ((-0.22589 11.16333, -0.21869 11.15973..."